<ion-header>
  <ion-toolbar>
    <ion-title >Comentar</ion-title>
    <ion-icon slot="start" name="close-outline" (click)="cerrarModal()" ></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-toolbar>
    <ion-input id="txtcomentario" name="txtcomentario" [(value)]="comentario" placeholder="Escribe un comentario" ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="guardarDatos()">
        <ion-icon color="primary" slot="start" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>
