<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="dismis()" fill="clear">
        <ion-icon slot="icon-only" name="close-sharp" class="delete"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="danger">Modificar Comentario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animate__animated animate__pulse">

  <ion-toolbar>
    <ion-input type="text" id="txtnombre" name="txtnombre" [(ngModel)]="nombre" placeholder="Escribe un comentario" ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="update()">
        <ion-icon color="primary" slot="start" name="send"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name='camera-outline' class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>
