<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="dismis()" fill="clear">
        <ion-icon slot="icon-only" name="close-sharp" class="delete"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title >Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-toolbar>
      <ion-input type="text" placeholder="Escribe un comentario" name="texto" [(ngModel)]="texto"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="add()">
          <ion-icon color="primary" slot="start" name="send"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>