<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon  name="logo-facebook"></ion-icon> 
      FACEBOOK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-text-center" color="medium">

    <ion-card-header>

      <ion-chip >
        <ion-avatar>
          <img src="http://www.tezu.ernet.in/dmass/MCJ-Web-News-Portal/admin/uploads/user.png">
        </ion-avatar>
        <ion-label>Jonathan Gualan </ion-label> 
      </ion-chip>

      <ion-card-content>Actualizacion de Portada.............</ion-card-content>

      <img src="https://www.ibei.org/images/4611/person_box.png" alt="">

    </ion-card-header>


    <ion-item>

      <ion-buttons slot="start">
        <ion-button >
          <ion-icon color="danger" slot="start" name="heart-outline"></ion-icon>
          Me gusta
        </ion-button>

        <ion-button>
          <ion-icon  slot="start" name="arrow-redo-outline"></ion-icon>
          Compartir
        </ion-button>

        <ion-button>
          <ion-icon  slot="start" name="ellipsis-vertical" ></ion-icon>
          Comentar
        </ion-button>
      </ion-buttons>
      
    </ion-item>

  </ion-card>

    <ion-item *ngFor="let c of mensajes">
      <ion-label >
        <ion-chip >
          <ion-avatar>
            <img src="http://www.tezu.ernet.in/dmass/MCJ-Web-News-Portal/admin/uploads/user.png">
          </ion-avatar>
          <ion-label>Carlos</ion-label> 
        </ion-chip> 
        {{c.mensaje}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="delete(c)">
          <ion-icon color="danger" slot="icon-only" name="trash-bin"></ion-icon>
        </ion-button>
        <ion-button (click)="newMensaje = c">
          <ion-icon color="primary" slot="icon-only" name="create-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


  <ion-footer>
    <ion-toolbar>
      <ion-input placeholder="Escribe un comentario" [(ngModel)]="newMensaje.mensaje"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="guardarMensaje()">
          <ion-icon color="primary" slot="start" name="send"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name='camera-outline' class="icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>
